<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width" />
        
        <title>This is Index</title>
        
            
        
    </head>
    <body>    
        <h2>Division</h2>
        <p>@ViewData["Message"]</p>
      
    </body>
</html>