<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index</title>
    </head>
    <body>
        <p>To get started type in: http://localhost:5000/Math/Add (enter in variables) example Add?left=5(andforsan)right=3 <br/>
        Change the page to the different functions with Subtraction, Multiply, Modulus, and Division.
        </p>
    </body>
</html>